#date-wrap {
  background: rgb(24, 24, 24);
  border: 3px solid white;
  color: white;
  height: 20vh;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 0 3%;
}

#date-wrap p,
#date-wrap h2 {
  padding-left: 10px;
}
#date-wrap p {
  font-size: 0.5em;
}
